<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalized News Aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <!-- Google Translate widget script -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body>
    <header>
        <div class="header">
            <div class="translate-widget">
                <div id="google_translate_element"></div>
            </div>
            <h1>Welcome {{ username }}</h1>
            <button class="menu-toggle" onclick="showOptions()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <div class="options">
                <ul>
                    <li><a href="/user_articles">Read Articles</a></li>
                    <li><a href="#" onclick="toggleDarkMode()">Dark/Light Mode</a></li>
                    <li><a href="/SwehulYoutube">Youtube</a></li>
                    <li><a href="/PersonalisedGenresSelection">Select Genre</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div>
        <main class="container">
            <form action="/" method="GET" class="country-form">
                <label for="country">Select Country:</label>
                <select name="country" id="country">
                    <option value="0">-- Select Country --</option>
                    <option value="IN">India</option>
                    <option value="US">United States</option>
                    <option value="CN">China</option>
                    <option value="RU">Russia</option>
                    <option value="BR">Brazil</option>
                    <option value="GB">United Kingdom</option>
                    <option value="FR">France</option>
                    <option value="DE">Germany</option>
                    <option value="JP">Japan</option>
                    <option value="CA">Canada</option>
                    <option value="AU">Australia</option>
                    <option value="KR">South Korea</option>
                    <option value="IT">Italy</option>
                    <option value="ES">Spain</option>
                    <option value="MX">Mexico</option>
                    <option value="ID">Indonesia</option>
                    <option value="TR">Turkey</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="ZA">South Africa</option>
                    <option value="AR">Argentina</option>
                    <option value="NG">Nigeria</option>
                    <option value="EG">Egypt</option>
                    <option value="PK">Pakistan</option>
                    <option value="IR">Iran</option>
                    <option value="VN">Vietnam</option>
                    <!-- Add more options for other countries as needed -->
                </select>  
                <button type="submit">Get News</button>
            </form>
            <h2><span id="country-name">India</span> News Feed</h2>
            <div class="news-feed">
                {% if headlines %}
                    {% for article in headlines %}
                        <a href="{{ article.url }}" class="article" style="background-color: {{ article.color }}">
                            <img src="{{ article.urlToImage }}" alt="{{ article.title }}">
                            <h3>{{ article.title }}</h3>
                            <p>Source: {{ article.source.name }}</p>
                        </a>
                    {% endfor %}
                {% else %}
                    <p>No headlines available</p>
                {% endif %}
            </div>
            <!-- Pagination Links -->
            <div class="pagination">
                {% if page_number > 1 %}
                    <a href="?page={{ page_number - 1 }}&country={{ country }}" class="prev">Previous</a>
                {% endif %}
                {% if headlines %}
                    <a href="?page={{ page_number + 1 }}&country={{ country }}" class="next">Next</a>
                {% endif %}
            </div>
            
            
            
            <div class="spacer"></div>
        </main>
<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        document.querySelector('.country-form').addEventListener('submit', function(event) {
            // Prevent default form submission
            event.preventDefault();
    
            // Get the selected country value
            var selectedCountry = document.getElementById('country').value;
    
            // Check if a country is selected
            if (selectedCountry === '0') {
                // If no country is selected, show an alert
                alert('Please select a country.');
            } else {
                // Redirect to the URL with the selected country
                window.location.href = "/?country=" + selectedCountry;
            }
        });
    
        // Toggle options menu
        function showOptions() {
            const options = document.querySelector('.options'); 
            const menuToggle = document.querySelector('.menu-toggle');
            options.style.display = options.style.display === 'none' ? 'block' : 'none';
            menuToggle.classList.toggle('menu-open');
        }
    
        // Function to update the selected country name
        function updateCountryName() {
            var selectedCountry = document.getElementById('country');
            var countryName = selectedCountry.options[selectedCountry.selectedIndex].text;
            document.getElementById('country-name').textContent = countryName;
            localStorage.setItem('selectedCountry', countryName);
        }
    
        // Add event listener to handle country selection
        document.getElementById('country').addEventListener('change', updateCountryName);
    
        // Check if a country name is stored in localStorage
        var storedCountry = localStorage.getItem('selectedCountry');
        if (storedCountry) {
            document.getElementById('country-name').textContent = storedCountry;
        } else {
            document.getElementById('country').value = 'IN'; // Default to India
            updateCountryName(); // Update country name display
        }
    
        // Add event listeners to handle pagination logic
        document.getElementById("first-page").addEventListener("click", navigateToPage);
        document.getElementById("last-page").addEventListener("click", navigateToPage);
        document.getElementById("prev-page").addEventListener("click", navigateToPage);
        document.getElementById("next-page").addEventListener("click", navigateToPage);
    
        // Function to handle pagination
        function navigateToPage(e) {
            e.preventDefault();
            var currentPage = getCurrentPage();
            var targetPage;
            switch (e.target.id) {
                case "first-page":
                    targetPage = 1;
                    break;
                case "last-page":
                    targetPage = getLastPageNumber();
                    break;
                case "prev-page":
                    targetPage = currentPage > 1? currentPage - 1 : 1;
                    break;
                case "next-page":
                    targetPage = currentPage + 1;
                    break;
                default:
                    targetPage = currentPage;
            }
            window.location.href = "/" + targetPage;
        }
    
        // Function to extract the current page number from the URL
        function getCurrentPage() {
            var url = window.location.href;
            var matches = url.match(/\/(\d+)/);
            return matches && matches.length > 1? parseInt(matches[1]) : 1;
        }
    
        // Function to get the last page number
        function getLastPageNumber() {
            // Replace this with your logic to get the last page number
            return 10; // Example: Assuming there are 10 pages
        }
    
        // Dark mode toggle functionality
        function toggleDarkMode() {
            document.body.classList.toggle("dark-mode");
        }
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
<br>
    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Personalized News Aggregator</p>
        </div>
    </footer>
</body>
</html>    
